<h1 mat-dialog-title>Escolher Cliente</h1>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cliente</mat-label>
          <input type="text"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="clienteSelecionado($event)">
            <mat-option *ngFor="let cliente of filteredClientes | async" id={{cliente.id}} [value]="cliente.nome">
              {{cliente.nome}} {{ cliente.sobrenome }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
</div>
