<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <section>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <button mat-raised-button routerLink="/listar-carrinhos">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <h2 class="title-center">Criando Carrinho</h2>
                    </div>
                </div>
                <br>
            </section>

            

            <!--<table mat-table [dataSource]="produtos" class="mat-elevation-z8">
                
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let produto"> {{produto.id}} </td>
                </ng-container>
            
            </table>-->
        </div>
    </div>
</div>