<mat-toolbar color="primary"> 
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/listar-produtos">
        <mat-icon>inbox</mat-icon>
        <span>Produtos</span>
      </button>
      <button mat-menu-item routerLink="/listar-carrinhos">
        <mat-icon>shopping_cart</mat-icon>
        <span>Carrinhos</span>
      </button>
      <button mat-menu-item routerLink="">
        <mat-icon>format_list_bulleted</mat-icon>
        <span>Pedidos</span>
      </button>
      <button mat-menu-item routerLink="">
        <mat-icon>supervisor_account</mat-icon>
        <span>Clientes</span>
      </button>
    </mat-menu>
    <span class="title-center">DAS DESENVOLVIMENTO WEB</span>
  </mat-toolbar>

<router-outlet></router-outlet>
