<h1 mat-dialog-title>Escolher Produto</h1>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Quantidade</mat-label>
          <input matInput #quantidade type="number" value="1" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Produto</mat-label>
          <input type="text"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="produtoSelecionado($event, quantidade.value)">
            <mat-option *ngFor="let produto of filteredProdutos | async" id={{produto.id}} [value]="produto.name">
              {{produto.id}} - {{produto.name}} - R$ {{ produto.value | number :'1.2-2' }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
</div>